In [5]:
import numpy as np
import pandas as pd

In [8]:
top_positions_df = pd.read_csv('data/mr-olympia-winners-top-positions.csv')
winners_df = pd.read_csv('data/mr-olympia-winners.csv')

In [23]:
top_positions_df.head(15)

,Year,represented_country_cham,Champion,represented_country_runn,Runner-Up,represented_country_thir,3rd Place
0,1965,United States,Larry Scott,United States,Harold Poole,Barbados,Earl Maynard
1,1966,United States,Larry Scott,United States,Harold Poole,United States,Chuck Sipes
2,1967,Cuba,Sergio Oliva,United States,Chuck Sipes,United States,Harold Poole
3,1968,Cuba,Sergio Oliva,NaN,NaN,NaN,NaN
4,1969,Cuba,Sergio Oliva,Austria,Arnold Schwarzenegger,NaN,NaN
5,1970,Austria,Arnold Schwarzenegger,Cuba,Sergio Oliva,United States,Reg Lewis
6,1971,Austria,Arnold Schwarzenegger,NaN,NaN,NaN,NaN
7,1972,Austria,Arnold Schwarzenegger,Cuba,Sergio Oliva,France,Serge Nubret
8,1973,Austria,Arnold Schwarzenegger,Italy,Franco Columbu,France,Serge Nubret
9,1974,Austria,Arnold Schwarzenegger,Italy,Franco Columbu,United States,Lou Ferrigno & Frank Zane
10,1975,Austria,Arnold Schwarzenegger,Italy,Franco Columbu,France,Serge Nubret & Ed Corney
11,1976,Italy,Franco Columbu,United States,Ken Waller,United States,Mike Katz & Frank Zane
12,1977,United States,Frank Zane,United States,Ed Corney,United States,Robby Robinson
13,1978,United States,Frank Zane,United States,Robby Robinson,Barbados,Roy Callender
14,1979,United States,Frank Zane,United States,Mike Mentzer,United States,Dennis Tinerino & Boyer Coe

In [24]:
winners_df.head(15)

,Year,Winner(s)[a],Award,Venue
0,1965,Larry Scott[31],"$1,000","New York, United States"
1,1966,Larry Scott[31],"$1,000","New York, United States"
2,1967,Sergio Oliva[32],"$1,000","New York, United States"
3,1968,Sergio Oliva[32],"$1,000","New York, United States"
4,1969,Sergio Oliva[32],"$1,000","New York, United States"
5,1970,Arnold Schwarzenegger[32],"$1,000","New York, United States"
6,1971,Arnold Schwarzenegger[32],"$1,000","Paris, France"
7,1972,Arnold Schwarzenegger[32],"$1,000","Essen, West Germany"
8,1973,Arnold Schwarzenegger[32],"$1,000","New York, United States"
9,1974,Arnold Schwarzenegger[32](Heavyweight & overal...,"$1,000","New York, United States"
10,1975,Arnold Schwarzenegger[32](Heavyweight & overal...,"$2,500","Pretoria, South Africa"
11,1976,Franco Columbu[32](Lightweight & overall) - Ke...,"$5,000","Columbus, United States"
12,1977,Frank Zane[32](Lightweight & overall) - Robby ...,"$5,000","Columbus, United States"
13,1978,Frank Zane[32](Lightweight & overall) - Robby ...,"$15,000","Columbus, United States"
14,1979,Frank Zane[32](Lightweight & overall) - Mike M...,"$25,000","Columbus, United States"

In [12]:
top_positions_df.shape

(58, 7)

In [13]:
winners_df.shape

(58, 4)

In [ ]:
merged_df = pd.merge(winners_df, top_positions_df, on='Year', how='left')

In [21]:
merged_df.columns

Index(['Year', 'Winner(s)[a]', 'Award', 'Venue', 'represented_country_cham',
       'Champion', 'represented_country_runn', 'Runner-Up',
       'represented_country_thir', '3rd Place'],
      dtype='object')

In [ ]:
merged_df[['Year', 'Winner(s)[a]', 'Champion', 'Runner-Up', '3rd Place']]

os dados parecem corretos então vou remover a coluna redundante 'Winner(s)[a]'

In [27]:
merged_df = merged_df.drop(columns='Winner(s)[a]')

In [28]:
merged_df.head(10)

,Year,Award,Venue,represented_country_cham,Champion,represented_country_runn,Runner-Up,represented_country_thir,3rd Place
0,1965,"$1,000","New York, United States",United States,Larry Scott,United States,Harold Poole,Barbados,Earl Maynard
1,1966,"$1,000","New York, United States",United States,Larry Scott,United States,Harold Poole,United States,Chuck Sipes
2,1967,"$1,000","New York, United States",Cuba,Sergio Oliva,United States,Chuck Sipes,United States,Harold Poole
3,1968,"$1,000","New York, United States",Cuba,Sergio Oliva,NaN,NaN,NaN,NaN
4,1969,"$1,000","New York, United States",Cuba,Sergio Oliva,Austria,Arnold Schwarzenegger,NaN,NaN
5,1970,"$1,000","New York, United States",Austria,Arnold Schwarzenegger,Cuba,Sergio Oliva,United States,Reg Lewis
6,1971,"$1,000","Paris, France",Austria,Arnold Schwarzenegger,NaN,NaN,NaN,NaN
7,1972,"$1,000","Essen, West Germany",Austria,Arnold Schwarzenegger,Cuba,Sergio Oliva,France,Serge Nubret
8,1973,"$1,000","New York, United States",Austria,Arnold Schwarzenegger,Italy,Franco Columbu,France,Serge Nubret
9,1974,"$1,000","New York, United States",Austria,Arnold Schwarzenegger,Italy,Franco Columbu,United States,Lou Ferrigno & Frank Zane

In [44]:
# removendo os espaços brancos nos nomes das colunas e colocando em minusculo
merged_df.columns = merged_df.columns.str.strip().str.replace(" ", "_") # removendo os espaços brancos nos nomes das colunas
merged_df.columns = merged_df.columns.str.lower()                       # colocando em minusculo
merged_df.rename(columns={'award': 'champion_award'}, inplace=True)     # mudando o nome da coluna

In [48]:
merged_df.to_csv('data/mr-olympia-champions.csv', index='False')