In [3]:
import numpy as np
import pandas as pd

# Mr. Olympia Champions

In [ ]:
top_positions_df = pd.read_csv('data/mr-olympia-winners-top-positions.csv')
winners_df = pd.read_csv('data/mr-olympia-winners.csv')

In [ ]:
top_positions_df.head(15)

In [ ]:
winners_df.head(15)

In [ ]:
top_positions_df.shape

In [ ]:
winners_df.shape

In [ ]:
merged_df = pd.merge(winners_df, top_positions_df, on='Year', how='left')

In [ ]:
merged_df.columns

In [ ]:
merged_df[['Year', 'Winner(s)[a]', 'Champion', 'Runner-Up', '3rd Place']]

os dados parecem corretos então vou remover a coluna redundante 'Winner(s)[a]'

In [ ]:
merged_df = merged_df.drop(columns='Winner(s)[a]')

In [ ]:
merged_df.head(10)

In [ ]:
# removendo os espaços brancos nos nomes das colunas e colocando em minusculo
merged_df.columns = merged_df.columns.str.strip().str.replace(" ", "_") # removendo os espaços brancos nos nomes das colunas
merged_df.columns = merged_df.columns.str.lower()                       # colocando em minusculo
merged_df.rename(columns={'award': 'champion_award'}, inplace=True)     # mudando o nome da coluna

In [ ]:
merged_df.to_csv('data/mr-olympia-champions.csv', index='False')

# Classic Physique

In [5]:
CP_chrono_df = pd.read_csv('data/classic-physique-chrono.csv')
CP_top3_df = pd.read_csv('data/classic-physique-top3.csv')

In [6]:
CP_chrono_df.head()

   #  Year                  Winner    Award                     Venue
0  1  2016        Danny Hester[36]  $12,500  Las Vegas, United States
1  2  2017    Breon Ansley[37][38]  $20,000  Las Vegas, United States
2  3  2018    Breon Ansley[37][38]  $20,000  Las Vegas, United States
3  4  2019  Chris Bumstead[39][40]  $30,000  Las Vegas, United States
4  5  2020  Chris Bumstead[39][40]  $30,000    Orlando, United States

In [7]:
CP_top3_df.head()

,Year,represented_country_cham,Champion,represented_country_runn,Runner-Up,represented_country_thir,3rd Place
0,2016,United States,Danny Hester,Iran,Arash Rahbar,Bosnia and Herzegovina,Sadik Hadzovic
1,2017,United States,Breon Ansley,Canada,Chris Bumstead,United States,George Peterson
2,2018,United States,Breon Ansley,Canada,Chris Bumstead,United States,George Peterson
3,2019,Canada,Chris Bumstead,United States,Breon Ansley,United States,George Peterson
4,2020,Canada,Chris Bumstead,United States,Terrence Ruffin,United States,Breon Ansley

Preciso remover uma coluna do primeiro df e depois fazer o merge dos dois dfs

In [9]:
CP_chrono_df.drop(columns='#', inplace=True)

In [11]:
CP_merged = pd.merge(CP_chrono_df, CP_top3_df, on='Year', how='left')

In [12]:
CP_merged.head()

,Year,Winner,Award,Venue,represented_country_cham,Champion,represented_country_runn,Runner-Up,represented_country_thir,3rd Place
0,2016,Danny Hester[36],"$12,500","Las Vegas, United States",United States,Danny Hester,Iran,Arash Rahbar,Bosnia and Herzegovina,Sadik Hadzovic
1,2017,Breon Ansley[37][38],"$20,000","Las Vegas, United States",United States,Breon Ansley,Canada,Chris Bumstead,United States,George Peterson
2,2018,Breon Ansley[37][38],"$20,000","Las Vegas, United States",United States,Breon Ansley,Canada,Chris Bumstead,United States,George Peterson
3,2019,Chris Bumstead[39][40],"$30,000","Las Vegas, United States",Canada,Chris Bumstead,United States,Breon Ansley,United States,George Peterson
4,2020,Chris Bumstead[39][40],"$30,000","Orlando, United States",Canada,Chris Bumstead,United States,Terrence Ruffin,United States,Breon Ansley

Agora preciso remover a coluna winner porque é redundante; depois renomear a coluna award

In [14]:
CP_merged.drop(columns='Winner', inplace=True)

In [21]:
# remove os espaços vazios do títulos e coloca todos os nomes das coluna em minúsculo
CP_merged.columns = CP_merged.columns.str.strip().str.lower().str.replace(" ", "_")
CP_merged.rename(columns={'award': 'champion_award'}, inplace=True) # renomeia a coluna

In [23]:
CP_merged.to_csv('data/classic-physique-champions.csv')